<!-- Ideally, we want to create another page for categories but not finalize it. 
Original codes - Shuting Chen 
 -->
        	{% for c in c_set %}
          <a href="#">
        <div class="col-md-3 promo-item item-1">
          <h3>
           {{ c }}
          </h3>
          {% for i in d.c %}
          <li>
           {{ i.0 }}
          </li>
           {% endfor %} 
        </div>
            </a>
            {% endfor %}
                                                  
        </div>
    </div>
