<!DOCTYPE html>
<html>
<body>

<iframe style="width:480px; height:480px" src= "https://www.google.com/maps/embed/v1/directions?key=AIzaSyDW9LMkT8ey0Un6jSY3R-K5-ux2eUW6VrU&origin={{ org|escape }}&destination={{ des|escape }}&mode=driving&waypoints={{ list.0|escape }}|{{list.1|escape }}|{{list.2|escape }}|{{ list.3|escape }}|{{ list.4|escape }}|
	{{ list.5|escape }}|{{ list.6|escape }}|{{ list.7|escape }}|{{ list.8|escape }}|
	{{ list.9|escape }}|{{ list.10|escape }}|{{ list.11|escape }}|{{ list.12|escape }}|{{ list.13|escape }}|{{ list.14|escape }}| {{ list.15|escape }}|{{ list.16|escape }}|{{ list.17|escape }}|{{ list.18|escape }}|{{ list.19|escape }}">
</iframe>

</body>
</html>

<!DOCTYPE html>
<html>
<body>
	<h1> Possible Driving Ruotes </h1>

    <div>
	<iframe style="width:480px; height:480px" src= "https://www.google.com/maps/embed/v1/directions?key=AIzaSyDW9LMkT8ey0Un6jSY3R-K5-ux2eUW6VrU&origin={{ org|escape }}&destination={{ des|escape }}&mode=driving&">
    </iframe>
    </div>

    <form action="map.html" method="GET">
      {% csrf_token %}
      <b>Find attractions</b>:<br>
      <input type="submit" value="Go!">
    </form> 

</body>

</html>