{% load static %} 
<link rel="stylesheet" href="{% static 'trips/style.css' %}" />
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Explore California</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'trips/bootstrap.min.css' %}" />

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
     <link rel="stylesheet" href="{% static 'trips/custom.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-fire"></span> 
                    MIT@U
                </a>
             </div>
        </div><!-- /.container -->
    </nav>


        <section class="pageone-content">
        <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div id="map"></div>
    <div id="right-panel">
    <div>
    <b>Start:</b>
    <select id="start">
      <option value="{{ org }}">{{ org }}</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      {% for l in list %}
      <option value="{{ l }}">{{ l|escape }}</option>
      {% endfor %}
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <option value="{{ des }}">{{ des }}</option>
    </select>
    <br>
      <input type="submit" id="submit">
    </div>
    <div id="directions-panel"></div>
    </div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: {{ c_lat }}, lng: {{ c_lng }} }
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value,
              stopover: true
            });
          }
        }

        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5S5X4nydUVyfQQV86xYmYm_XT4SbUbM&callback=initMap">
    </script>

    <div id="attraction-list", calss="center">
    {% for l in list %}
    <li>
      <a href="https://www.tripadvisor.com/Attractions">{{ l|escape }}</a></li>
      {% endfor %}
    </div>
                </div>
                <div class="col-sm-6">
                  <h2 class="section-header", style="margin-top: 40px; font-style: italic; font-family:  Geneva;">Tailor the Travel Route</h2>
                  <p class="lead text-muted">We </p>
                  <a href="#" class="btn btn-primary btn-lg">Classify It</a>
                </div>                               
            </div>
        </div>
    </section>


    

    <div class="container-fluid">
        <div class="row promo">
          <a href="#">
        <div class="col-md-3 promo-item item-1">
          <h3 onClick="reply_click(this.id)">
          Unleash 
          </h3>
        </div>
            </a>
            <a href="#">
        <div class="col-md-3 promo-item item-2">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>
            <a href="#">
        <div class="col-md-3 promo-item item-3">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>
            <a href="#">
        <div class="col-md-3 promo-item item-4">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>  
            <a href="#">
        <div class="col-md-3 promo-item item-5">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a> 
            <a href="#">
        <div class="col-md-3 promo-item item-6">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>                        
            <a href="#">
        <div class="col-md-3 promo-item item-7">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>                        
            <a href="#">
        <div class="col-md-3 promo-item item-8">
          <h3 onClick="reply_click(this.id)">
            Synergize
          </h3>
        </div>
            </a>                                                                                
        </div>
    </div>



</body>
</html>
</!DOCTYPE html>




