{% load static %} 

<style> 
input[type=text] {
    width: 20%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=submit] {
    width: 5%;
    margin: 3px 0;
    border: 2px solid black;
    border-radius: 4px;
}
</style>

<link rel="stylesheet" href="{% static 'trips/style.css' %}" />

<h1> Trip Advisor </h1>

<div>
    <h2>Welcome to MIT@U trip recommendation website!</h2> 
    <p><i><b>Published: 03/05/2018 </b></i></p>
</div>

<img src="/static/trips/images/background.gif" 
alt="Unchicago" width="500" height="350" center>

<form action="find_routes.html" method="GET">
  {% csrf_token %}
  <b>From</b>:<br>
  <input type="text" name="origin" value="">
  <br>
  <b>To</b>:<br>
  <input type="text" name="destination" value="">
  <br><br>
  <input type="submit" value="Go!">
</form> 

<p><b>Click "Go!" to get Google map.</b></p>

