{% load static %} 
<link rel="stylesheet" href="{% static 'trips/style.css' %}" />
<!DOCTYPE html>
<!--
  Modified codes by Ruxin Chen (visualization) and Shuting Chen
  We heavily modified codes from the templete.  
-->
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Explore California</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'trips/bootstrap.min.css' %}" />

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
     <link rel="stylesheet" href="{% static 'trips/custom.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-fire"></span> 
                    MIT@U
                </a>
             </div>
        </div><!-- /.container -->
    </nav>


<section class="pageone-content", style="height= 120%">
          <div class="container", style="height= 120%;">
            <div class="row">
  <div id="map" class = "col-sm-4" style="width: 375px; height:420px; margin-top: 30px; border-radius: 10px;"></div>
      <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: {{ c_lat }}, lng: {{ c_lng }} }
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value,
              stopover: true
            });
          }
        }

        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5S5X4nydUVyfQQV86xYmYm_XT4SbUbM&callback=initMap">
    </script>


    <div class = "col-sm-4", style="margin-top: 10px;">
    <b >Start:</b>
    <select style="color: dimgrey;" class="btn1 btn-secondary btn-lg" id="start">
      <option value="{{ org }}">{{ org }}</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints" style="color: dimgrey;" class = "btn3 btn-secondary btn-lg">
      {% for l in list %}
      <option value="{{ l }}">{{ l|escape }}</option>
      {% endfor %}
    </select>
    <br>
    <b>End:</b>
    <select id="end" style="color: dimgrey;" class="btn1 btn-secondary btn-lg">
      <option value="{{ des }}">{{ des }}</option>
    </select>
    <br>
      <input type="submit" id="submit" class="dropdown_button btn-lg btn2">
    </div>

    <div class = "btn2 btn-secondary btn-lg col-sm-4" style="word-wrap: break-word; margin-top: 30px; margin-left: 15px;">

    <div id="attraction-list">
    {% for url in urls %}
    <li>
      <a style="color: dimgrey; margin-top: 20px" href={{ url.1 }}>{{ url.0|escape }}</a></li>
      {% endfor %}
    </div>
    </div>

    <div id="directions-panel"></div>
     </div>
        </div>

  <div>
  <h3> Find Out our NLP Results  </h3>
  <li>
  <a style="color: white;"
    href='https://docs.google.com/spreadsheets/d/1hqaodXKVJoXB3c2Rmhqk3dxubXZwFCPpGGGGc4c36qw/edit?usp=sharing'>
  Attractions and Key Phrases</a></li>
  
  <li>
  <a style="color: white;"
    href="https://docs.google.com/spreadsheets/d/12c5SinmtNjaSkn5fssSL668Q6t_6Q9MlRALqv4zpPJA/edit?usp=sharing" >
  Phrases Categories and Their Attractions</a></li>
  
  <li>
  <a style="color: white;"
    href="https://docs.google.com/spreadsheets/d/1RnwcW6KtL49YLcv1e93OF7R2ifv2_2J9W0lNea-avhU/edit?usp=sharing" >
  Attractions with their classifications and tags </a></li>

</div>
</section>

</body>
</html>
</!DOCTYPE html>




