{% load static %} 
<link rel="stylesheet" href="{% static 'trips/style.css' %}" />
<!DOCTYPE html>
<!--
  Modified codes by Ruxin Chen (visualization) and Shuting Chen
  We heavily modified codes from the templete.  
-->
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Explore California</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'trips/bootstrap.min.css' %}" />

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
     <link rel="stylesheet" href="{% static 'trips/custom.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    
</head>
    
<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-fire"></span> 
                    MIT@U
                </a>
        </div><!-- /.container -->
    </nav>

    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Explore California</h1>
                <p>I'd be safe and warm, If I was in L.A.</p>
                <br>
                <p>California dreamin, On such a winter's day.</p>
                <form action="find_routes.html" method="GET">
                <b>From</b>
                {% csrf_token %}
                <br>
                 <input style="color: dimgrey;" class="btn1 btn-secondary btn-lg" type="text" name="origin" value="">
                <br>
                <b>To</b>
                <br>
                 <input style="color: dimgrey;" class="btn1 btn-secondary btn-lg" type="text" name="destination" value="">
                 <br><br>
                 <input class="btn btn-primary btn-lg" type="submit" value="Go!">
                </form> 
            </div>
        </div>
    </header>

</body>