html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: forestgreen;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(Golden_Gate_Bridge.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

header .header-content .header-content-inner b {
    font-family:  Geneva;
    margin-top:100px;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: 300;
    color: white;   
}


header .header-content .header-content-inner br {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    color: aqua;
    border: 2px solid powderblue;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        font-size: 80px;
        }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 20px;
    }
    
    header .header-content .header-content-inner b {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 40px;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}


.dropdown_button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(79,108,151,1.0);
    color: #fff;
    background-color: rgba(79,108,151,1.0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

}

.dropdown_button:hover,
.dropdown_button:focus,
.dropdown_button:active,
.dropdown_button.active,
.open > .dropdown-toggle.dropdown_button {
    border-color: rgba(179,217,251, 1.0);
    color: #fff;
    background-color: rgba(179,217,251, 1.0);
}


.intro {
    color: #fff;
    background-color: yellowgreen;
    padding: 70px 0;
    text-align: center;
}

.pageone-content {
    padding: 60px 0;
    position: relative;
    width: 100%;
    min-height: 60%;
    text-align: center;
    color: #fff;
    background-position: center;
    background-image: url(page_one.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-2 {
    color: #fff;
    background-color: #222;
}

.content-3 {
    padding: 20px 0 40px;
    text-align: center;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
    text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 150px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 10px solid rgba(255,255,255,0.3);

}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item-1 {
    background: url(sample.jpg);
    }
    
.item-2 {
    background: url('../images/concert.jpg');
    }
    
.item-3 {
    background: url('../images/pencil_sharpener.jpg');
    }

.item-4 {
    background: url('../images/pencil_sharpener.jpg');
    }

        
.item-1,
.item-2,
.item-3，
.item-4，
.item-5,
.item-6,
.item-7,
.item-8 {
    background-size: cover;
    background-position: 50% 50%;
    }

.page-footer {
    text-align: center;
    }

.page-footer .contact {
    padding: 100px 0;
    background-color: yellowgreen;
    color: #fff;
    }

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
    }
    
.content-3 .glyphicon,  
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
    }
        
.page-footer .small-print {
    padding: 50px 0 40px;
    font-weight: 300;
    }

.text-light {
    color: rgba(255,255,255,.7);
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: yellowgreen;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: yellowgreen;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: yellowgreen!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: yellowgreen;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: yellowgreen;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(227,187,170, 1.0);
    color: #fff;
    background-color: rgba(227,187,170,1.0);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: rgba(194,92,59, 1.0);
    color: #fff;
    background-color: rgba(194,92,59, 1.0);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.btn-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}

.btn-secondary {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(255,255,255,.5);
    color: #fff;
    background-color: rgba(255,255,255,.5);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.secondary {
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: whitesmoke;
}

.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.secondary {
    background-image: none;
}

.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
    border-color: whitesmoke;
    background-color: whitesmoke;
}

.btn-secondary .badge {
    color: blue;
    background-color: whitesmoke;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn1 {
    text-transform: uppercase;
    border-radius: 300px;
}

.btn2{
    border-radius: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.btn3{
    border-radius: 10px;
    margin-left: 20px;
    font-size: 15px;
    width: 90%;
}

.btn-lg {
    padding: 15px 30px;
}


::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: yellowgreen;
}

.bg-primary {
    background-color: yellowgreen;
}

